.main-container {
  display: flex;
  height: 100%;
}

.sidebar {
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
}

.notes-heading {
  margin-bottom: 10px;
  margin-left: 4%;
}

.add-note-button {
  background-color: transparent;
  color: blue;
  border: none;
  cursor: pointer;
  margin-top: 20px; 
}

.add-note-button:hover {
  background-color: transparent;
  color: gray;
  border: none;
  cursor: pointer;
}

.separator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(250px);
  width: 1px;
  background-color: #ccc;
  z-index: -1;
}

.content {
  flex: 1;
  margin-left: 3%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close-button {
  position: relative;
  left: 95%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
}

.close-button:hover {
  position: relative;
  left: 95%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: gray;
}

.notes-heading-container {
  display: flex;
  align-items: center;
}

.notes-heading {
  margin-right: 10px;
}




.content-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-buttons {
  display: flex;
  align-items: center; 
}


.edit-button {
  margin-right: 10px; 
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: blue;
}

.edit-button:hover {
  margin-right: 10px; 
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: gray;
}
.delete-button {
  margin-right: 400px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
}

.delete-button:hover {
  margin-right: 400px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: gray;
}