
main {
    display: flex;
    height: 100%;
  }
  
  .sidebar {
    flex: 0 0 250px; /* Sidebar width set to 250px, doesn't grow or shrink */
    background-color: #f0f0f0; /* Sidebar background color */
    height: 100%; /* Sidebar height set to 100% */
    border-right: 1px solid #ccc; /* Add a border to separate the sidebar and content */
    margin-right: 2%;
  }
  
  .content {
    flex: 1; /* Content takes up remaining space */
  }